html {
    background:#EFEFEF;
}

.notification{
    word-break: break-all;
}

.squeezed{
    max-width:300px;
}

.badge1 {
    background:#94FFF7;
}

.badge2 {
    background:#F2E86B;
}

.badge3 {
    background:#FF738F;
}

.badge4 {
    background:#f4c6ee;
}

.badge5 {
    background:#39e17e;
}

.badge6 {
    background:#C784FF;
}

.highlight {
    background: yellow;
    padding-left: 2px;
    padding-right: 2px;
    border-radius:2px;
}

.fixationCross{
    text-align:center;
    font-size: 100px;
    margin-left:100px;
}

.vsImg {
    width:200px;
}

.sized{
    height: 420px;
    width: 960px;
}

.solidBorder {
    border: 2px solid #000;
    overflow: hidden;
}

.dashedBorder {
    border: 2px dashed #000;
    overflow: hidden;
}
.rightSide {
    padding:1em;
}

.leftSide {
    padding:1em;
}
