html {
    background:#fff;
}

.selected {
    border: 3px solid green;
}

.gameWrapper {
    max-width:960px;
    margin:0px auto;
}

.redCross {
    color: red;
    font-size: 6em;
    font-weight: bold;
    text-align: center;
    margin-top:1em;
}

.notification{
    word-break: break-all;
}

.squeezed{
    max-width:50%;
}

.badge1 {
    background:#94FFF7;
}

.badge2 {
    background:#F2E86B;
}

.badge3 {
    background:#FF738F;
}

.badge4 {
    background:#f4c6ee;
}

.badge5 {
    background:#39e17e;
}

.block-center{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
}

.badge6 {
    background:#C784FF;
}

.highlight {
    background: yellow;
    padding-left: 2px;
    padding-right: 2px;
    border-radius:2px;
}

.fixationCross{
    text-align: center;
    font-size: 4em;
    margin: 2em auto;

}

.vsImg {
    width:200px;
}

.sized{
    height: 340px;
    max-width: 960px;
}

.solidBorder {
    border: 2px solid #000;
    overflow: hidden;
}

.dashedBorder {
    border: 2px dashed #000;
    overflow: hidden;
}

.blueBorder{
    border:5px solid blue;
}
.greyBorder{
    border:5px solid grey;
}
.whiteBorder{
    border:5px solid white;
}

.probeLeft {
    font-size:2rem;
}
.probeRight {
    float:right;
    font-size:2rem;
}

.rightSide {
    padding:1em;
}

.leftSide {
    padding:1em;
}
